<header>
    <div class="header-container">
      <div class="header-title"><a [routerLinkActive]="['active']" class="router-link" routerLink="">Ale Kino!</a></div>
      <div class="button-container">
          <button class="header-button cart" type="button"><fa-icon [icon]="cart"></fa-icon><div class="cart-ammount" *ngIf="ticketsInCart">{{ ticketsInCart }}</div></button>
          <div class="dropdown">
            <button class="header-button login-button" type="button" (click)="logIn($event)">Zaloguj</button>
            <div *ngIf="user.loggedIn" class="login-dropdown-content">
              <a [routerLinkActive]="['active']" class="dropdown-link" routerLink="/my-tickets">Moje Bilety</a>
              <a [routerLinkActive]="['active']" class="dropdown-link" routerLink="/to-watch">Chcę obejrzeć</a>
              <a [routerLinkActive]="['active']" class="dropdown-link" routerLink="/settings">Ustawienia</a>
              <a [routerLinkActive]="['active']" class="dropdown-link" routerLink="/dogs">Wyloguj</a>
            </div>
        </div>
      </div>
    </div>
  </header>
