<div class="selected-seats">
    <div class="selected-seat">Rząd {{ selected.charAt(0) }} Miejsce {{ selected.slice(1) }}<span *ngIf="isSelectedSeatSpecial()"> VIP + 5PLN</span></div>
    <select [(ngModel)]="selectedTicket" name="ticket-grade" id="ticket" (change)="handleTicketTypeChange(selected, selectedTicket, selectTicketPrice(selectedTicket))" >
        <option *ngFor="let ticket of ticketSelection" [value]="ticket.type">{{ticket.type}}</option>
    </select>
    <div class="delete-seat" (click)="removeTicket(selected)"  ><fa-icon [icon]="trashCanIcon"></fa-icon></div>
    <div class="ticket-price">{{ selectTicketPrice(selectedTicket) }} PLN</div>
</div>

