<div class="user-orderds-container">
    <h1>Twoje Bilety</h1>
    <div class="user-orderds">
        <div class="user-order">
            <h3>Zamówienie nr.211259i2159i21</h3>
            <div class="order-ticket">
                <div class="ticket-titlte">Black Panther: Wakanda Forever</div>
                <div class="ticket-when">
                    <div class="ticket-date">16/12/2022</div>
                    <div class="ticket-hour">16.30</div>
                </div>
                <div class="ticket-pay">
                    <div class="ticket-type">Rodzaj biletu: Normalny E4</div>
                    <div class="ticket-price"> 30 PLN</div>
                </div>
                <button type="button" class="download-ticket-btn">Pobierz bilet w PDF</button>
            </div>
            <button type="button" class="download-ticket-btn">Pobierz rachunek/fakturę</button>
        </div>
    </div>
</div>