<div class="form-container">
    <div class="movie-title">
        Black Panther: Wakanda Forever, 19.11/2022, godz. 15.30
    </div>
    <div class="selected-seats">
        <div class="one-ticket">
            <div class="seat">
                Rząd E Miejsce 6
            </div>
            <div class="seat-price">
                22 PLN
            </div>
        </div>
        <div class="all">
            Razem 22 PLN
        </div>
    </div>
    <div class="">
        <form action="" novalidate>
            <div class="name-container">
                <div class="user-input">
                    <input type="text" id="name" class="input" name="user-name" placeholder="Imię" required>
                    <p class="error"></p>
                </div>
                <div class="user-input">
                    <input type="text" id="country" class="input" name="user-last-name" placeholder="Nazwisko" minlength="3" maxlength="20" required>
                    <p class="error"></p>
                </div>
            </div>
            <div class="user-input">
                <input type="tel" id="phone" class="input" name="user-phone" placeholder="Nr telefonu" pattern="[0-9]{9}">
                <p class="error"></p>
            </div>
            <div class="user-input">
                <input type="email" id="email" class="input" name="user-email" placeholder="Email" required>
                <p class="error"></p>
            </div>
            <div class="user-input">
                <input type="email" id="confirm-email" class="input" placeholder="Potwierdz email" name="user-email" required>
                <p class="error"></p>
            </div>
            <div class="toggle-switch">
                <input type="checkbox" id="switch" />
                <label for="switch"></label>
                <div class="toggle-text">Chce otrzymywac informacje o znizkach, promocjach itp</div>
            </div>
            <div class="user-input">
                <input type="text" id="voucher-code" class="input" placeholder="Kod znizkowy" name="voucher-code">
                <p class="error"></p>
            </div>
            <button type="submit" class="order">Zamawiam</button>
            <h1></h1>
        </form>
    </div>
    <div class="return-to-seats">
        <a [routerLinkActive]="['active']" class="router-link" routerLink="/seats">Wróć do wyboru miejsc</a>
    </div>
</div>