<div class="form-container">
    <div class="movie-title">
        Podsumowanie
    </div>
    <div class="selected-seats">
        <div class="one-ticket" *ngFor="let ticket of tickets">
            <div class="seat" *ngIf="ticket.seat.price">
               <div class="ticekt-movie-title">{{ticket.title}}: </div>
               <div class="ticekt-date">{{ticket.date}}, {{ ticket.hour }}</div>
               <div class="ticket-position">Rząd {{ ticket.seat.positon.charAt(0) }} Miejsce {{ ticket.seat.positon.slice(1) }}, Rodzaj: {{ ticket.seat.type }}  <span *ngIf="ticket.seat.special">VIP</span></div>
            </div>
            <div class="seat-price" *ngIf="ticket.seat.price">
                {{ticket.seat.price}} PLN
            </div>
        </div>
        <div class="all" *ngIf="getFullPrice()">
            {{ getFullPrice() }} PLN
        </div>
    </div>
    <app-user-form (openModal)="handleModalFlag($event)" (userDataForm)="handleUserDataForm($event)" ></app-user-form>
    <div class="return-to-seats">
        <a [routerLinkActive]="['active']" class="router-link" routerLink="/seats"> &#9754; Wróć do wyboru miejsc</a>
    </div>
</div>

<ng-container *ngIf="modalFlag">
    <div id="modal" class="modal">
        <div class="modal-content">
            <h1>Wprowadź kod blik</h1>
            <form (ngSubmit)="submitPayment()">
                <input [formControl]="blikControl" [class.error]="blikControl.touched && blikControl.errors" class="blik-input" placeholder="Kod Blik">
                <ng-container *ngIf="blikControl.errors as errors">
                    <ng-container *ngIf="blikControl.touched">
                        <p *ngIf="errors['pattern']" class="text-danger">Tylko cyfry</p>
                        <p *ngIf="errors['minlength'] as minLength">
                            Podałeś {{ minLength.actualLength}} liczb, BLIK składa się z {{minLength.requiredLength}}
                        </p>
                        <p *ngIf="errors['maxlength'] as maxLength">Max liczba cyfr to {{maxLength.requiredLength}}</p>
                        <p *ngIf="errors['required']">Te pole jest obowiązkowe!</p>
                    </ng-container>
                </ng-container>
                <div class="modal-nav">
                    <button  class="modal-btn blik-btn">Potwierdź</button>
                    <button type="button" class="modal-btn close-modal" (click)="closeModal()" >Wyjdź</button>
                </div>
            </form>
        </div>
    </div>
</ng-container>