<div class="form-container">
    <div class="movie-title">
        Black Panther: Wakanda Forever, 19.11/2022, godz. 15.30
    </div>
    <div class="selected-seats">
        <div class="one-ticket">
            <div class="seat">
                Rząd E Miejsce 6
            </div>
            <div class="seat-price">
                22 PLN
            </div>
        </div>
        <div class="all">
            Razem 22 PLN
        </div>
    </div>
    <div class="">
        <form action="" novalidate>
            <div class="user-input">
                <label for="">Imię </label>
                <input type="text" id="name" class="input" name="user-name" placeholder="imię" required>
                <p class="error"></p>
            </div>
            <div class="user-input">
                <label for="">Nazwisko </label>
                <input type="text" id="country" class="input" name="user-last-name" minlength="3" maxlength="20" required>
                <p class="error"></p>
            </div>
            <div class="user-input">
                <label for="">Numer Telefonu </label>
                <input type="tel" id="phone" class="input" name="user-phone" pattern="[0-9]{9}">
                <p class="error"></p>
            </div>
            <div class="user-input">
                <label for="">Adres Email </label>
                <input type="email" id="email" class="input" name="user-email" required>
                <p class="error"></p>
            </div>
            <div class="user-input">
                <label for="">Potweirdź Adres Email </label>
                <input type="email" id="confirm-email" class="input" name="user-email" required>
                <p class="error"></p>
            </div>
            <button type="submit" class="order">Zamawiam</button>
            <h1></h1>
        </form>
    </div>
    <div class="return-to-seats">
        <a [routerLinkActive]="['active']" class="router-link" routerLink="/seats">Wróć do wyboru miejsc</a>
    </div>
</div>