
    <div class="movie-container"> 
        <div class="movie-poster">
            <img class="poster-img" src={{movie.img}}>
        </div>
        <div class="movie-description">
            <div class="movie-title">{{movie.title}}</div>
            <div class="movie-info"><span>{{movie.genre}} | </span><span>{{movie.length}} | </span> <span>{{movie.ageRest}} </span></div>
            <div class="movie-desc">{{movie.description}} </div>
            <button type="button" class="show-info-button" (click)="showMoreInfo($event, movie)" >Więcej</button>
            <div class="more-info" *ngIf="selectedMovie">
                <div class="director"> Reżyser: {{selectedMovie.director}}</div>
                <div class="actors" >
                    Aktorzy: <div class="actor" *ngFor="let actor of selectedMovie.actors">{{actor}} |</div>
                </div>
                <div class="box-office"> Box office: {{selectedMovie.boxOff}} mln$</div>
            </div>
            <div class="movie-hours">
                <div class="movie-hour" *ngFor="let hour of movie.hours">
                    <a [routerLinkActive]="['active']" class="router-link" routerLink="/seats"><button type="button" class="movie-hour-button" (click)="handleSelectedMovie({id: movie.id, name: movie.title, hour: hour.hour, reservedSeats: hour.reservedSeats})" >{{hour.hour}} </button></a>
                </div>
            </div>
        </div>
        <div class="movie-score">
            {{movie.score}}
            <div class="user-buttons" *ngIf="user.loggedIn">
                <button type="button" class="rate-movie-button">Oceń ten film!</button>
                <button type="button" class="want-to-see-button">Chcę zoaczyć</button>
            </div>
        </div>
    </div>
