
    <div class="movie-container"> 
        <div class="movie-poster">
            <img class="poster-img" src={{movie.img}}>
        </div>
        <div class="movie-description">
            <div class="movie-title">{{movie.title}}</div>
            <div class="movie-info"><span>{{movie.genre}} |</span><span>{{movie.length}} |</span> <span>{{movie.ageRest}} </span></div>
            <div class="movie-desc">{{movie.description}} </div>
            <button type="button" class="show-info-button" (click)="showMoreInfo($event, movie)" >Więcej</button>
            <div class="more-info" *ngIf="selectedMovie">
                <div class="director">Reżyser: {{selectedMovie.director}}</div>
                <div class="actors" >
                    Aktorzy: <div class="actor" *ngFor="let actor of selectedMovie.actors">{{actor}} |</div>
                </div>
                <div class="box-office">Box office: {{selectedMovie.boxOff}} mln$</div>
            </div>
            <div class="movie-hours">
                <div class="movie-hour" *ngFor="let hour of movie.hours">
                    <button type="button" class="movie-hour-button">{{hour}} </button>
                </div>
            </div>
        </div>
        <div class="movie-score">
            {{movie.score}}
        </div>
    </div>
