.home-container {
    text-align: center;
    margin: 0 auto;
    max-width: 95vw;
    margin-bottom: 10rem;
    position: relative;
}

/* DATE CONTAINER AND BUTTONS */

.dates {
    display: flex;    
    justify-content: center;
    padding: 2rem;
}
.dates button:first-child {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.dates button:last-child {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
.date-button {
    background-color: var(--color-light-grey);
    color: var(--color-dark);
    padding: 1rem 2rem;
    border: 1px solid var(--color-border-grey);
}

.date-button:disabled {
    opacity: 20%;
}

.date-button:disabled:hover {
    background-color: inherit;
    color: inherit;
}
.date-button.active {
    background-color: rgb(0, 89, 255);
    color: white;
}

.date-button:hover {
    background-color: rgb(0, 89, 255);
    color: white;
}