.login-container {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    background-color: #F0F0F0;
    border: 2px solid var(--color-border-grey);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 4rem 1rem;
    width: 300px;
}
h1 {
    align-self: center;
}

.login form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.login form input {
    width: 90%;
    padding: 1rem;
    border-radius: 20px;
    border: 2px solid var(--color-border-grey);
}

.login form p {
    font-weight: 800;
    color: rgb(255, 92, 92);
}
.login-btn {
    padding: 1rem 3rem;
    background-color: rgb(255, 215, 0, 0.6);
    border-radius: 20px;
    font-weight: 900;
    border: 2px solid rgb(255, 215, 0);
}

.forgot-btn {
    text-decoration: underline;
    color: rgb(66, 66, 252);
}