.selected-seats {
    display: flex;
    gap: 4rem;
}

.ticket-price {
    align-self: center;
    justify-items: center;
    flex: 0.5 1 0;
}

.delete-seat {
    align-self: center;
    cursor: pointer;
}

.selected-seat, #ticket {
    flex: 1 1 0;
}