<div class="selected-seats">
    <div class="selected-seat">Rząd {{ selected.charAt(0) }} Miejsce {{ selected.slice(1) }}</div>
    <select [(ngModel)]="selectedTicket" name="ticket-grade" id="ticket" (change)="emitTicketPrice(selected, selectedTicket, selectTicketPrice(selectedTicket))" >
        <option *ngFor="let ticket of ticketSelection" [value]="ticket">{{ticket}}</option>
    </select>
    <div class="delete-seat" (click)="removeTicket(selected)" ><fa-icon [icon]="trashCanIcon"></fa-icon></div>
    <div class="ticket-price">{{ selectTicketPrice(selectedTicket) }} PLN</div>
</div>
