<div class="seat-selection-container">
    <div class="movie-title">
        {{ title }}, {{ date }}, {{ hour }}
    </div>
    <div class="screen">SCREEN</div>
    <div class="seats-grid">
        <div *ngFor="let row of rows" class="row">
            <div class="row seat">{{ row }}</div>
            <span class="seat" *ngFor="let col of cols" (click)="seatClicked(row + col)" [ngClass]="getStatus(row + col)">
                {{ col }}
            </span>
        </div>

    </div>
    <div class="ticket-selection-container">
        <div *ngFor="let seat of selected">
            <app-ticket-selection *ngIf="selected.length" [selected]="seat"></app-ticket-selection>
        </div>
    </div>

    
</div>
