<div class="seat-selection-container">
    <div class="movie-title" *ngIf="movie.title" >
        {{ movie.title }}, {{ date }}, {{ show.hour }}
    </div>
    <div class="screen">SCREEN</div>
    <div class="seats-grid">
        <div *ngFor="let row of rows" class="row" [ngStyle]="styleGrid(cols.length + 1)">
            <div class="row seat">{{ row }}</div>
            <span class="seat" *ngFor="let col of cols" (click)="seatClicked(row + col, movie.id, show.hour, movie.title)" [ngClass]="getStatus(row + col)">
                {{ col }}
            </span>
        </div>

    </div>
    <div class="legend">
        <div class="legend-square reserved"></div><span>Zajęte</span>
        <div class="legend-square special"></div><span>VIP</span>
        <div class="legend-square bigger"></div><span>KANAPA</span>
    </div>
    <div class="all-selected-tickets">
        <div *ngFor="let seat of selected; let i = index" class="selected-ticket" >
            <app-ticket-selection *ngIf="selected.length" [index]="i" [specialSeats]="screen.specialSeats" [selected]="seat"></app-ticket-selection>
        </div>
    </div>
    <div class="navigation-links">
        <a *ngIf="selected.length" [routerLinkActive]="['active']" class="router-link" routerLink="/form"><button type="button" class="order-btn">Przejdz do zamówienia</button></a>
    </div>

    
</div>
